{% extends 'base.html.twig' %}

{% block body %}
<div class="profile">
    {{ render(controller('App\\Controller\\UserController::show', {user: user})) }}
        <div class="profile-garbage">
            {{ render(controller('App\\Controller\\UserController::showGarbages', {user: user, limit: limit})) }}
            {% if app.user is same as(user) %}
                <a href="{{ path('user_garbage', {id: user.id}) }}" class="see-more-garbage">Voir plus</a>
            {% endif %}
        </div>
</div>
{% endblock %}
