{% extends 'base.html.twig' %}

{% block body %}
<div class="profile">
    {{ render(controller('App\\Controller\\UserController::show', {user: user})) }}
    <div class="profile-garbage">
        {{ render(controller('App\\Controller\\UserController::showGarbages', {user: user, limit: limit})) }}
        <div class="see-more-garbage">
            <a href="{{ path('user_garbage', {id: user.id}) }}">Voir plus</a>
        </div>
    </div>
</div>
{% endblock %}
