{% extends 'base.html.twig' %}

{% block body %}
<div class="profile">
    <div class="profile-info">
        <div class="profile-head">
            <h2>Profile</h2>
            <a class="link" href={{ path('app_logout') }}><i class="fas fa-cog"></i></a>
        </div>
        {{ render(controller('App\\Controller\\UserController::show', {user: user})) }}
    </div>
    <div class="profile-garbage">
        {{ render(controller('App\\Controller\\UserController::showGarbages', {user: user, limit: limit})) }}
        {% if app.user is same as(user) %}
            <a href="{{ path('user_garbage', {id: user.id}) }}" class="see-more-garbage">Voir plus</a>
        {% endif %}
    </div>
</div>
{% endblock %}
