.post-wall-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    label {
        display: none;
    }

    .post-wall-head {
        background-color: $primary-color;
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;

        h1 {
            font-size: 2.5rem; 
            color: white;
            margin-top: 1rem;
        }

        li {
            color: white;
            margin-top: 1.5rem;
        }

        .post-create {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1.5rem;
            padding: 0 3rem 0 3rem;

            h2 {
                color: white;
            }

            form {

                width: 100%;

                textarea {
                    margin-bottom: 1rem;
                    padding: 0.8rem;
                    font-size: 1.4rem;
                    background-color: rgb(117, 221, 172);
                    border: none;
                    border-radius: 10px;
                    width: 100%;
                    resize: vertical;
                    height: 100px;
                    max-height: 300px;
                    min-height: 100px;
                }
            }
           

            button {
                margin-bottom: 1rem;
                padding: 0.3rem 1rem 0.3rem 1rem;
                height: 2rem;
                border: none;
                border-radius: 25px;
                font-size: large;
                font-weight:bolder;
            }

            .link {
                text-decoration: none;
                font-size: large;
                border-radius: 25px;
                border: 1px solid black;
                color: black;
                background-color: white ;
                font-weight:bolder;
                padding: 0.3rem 1rem 0.3rem 1rem;
            }
        }
    }

    .post-wall {
        padding: 1rem;

        .post {
            text-align: left;
            margin-bottom: 2rem;
            padding: 1rem;
            background-color: $primary-color;
            border-radius: 25px;

            .content {
                display: block;
                border-radius: 12px;
                background-color: white;
                color: $primary-color;
                padding: 0.5rem;
                overflow: scroll;
            }
        }
    }

    .del-edit {
        
        button {
            display: flex;
            margin-bottom: 1rem;
            padding: 0.3rem 1rem 0.3rem 1rem;
            height: 2rem;
            border: none;
            border-radius: 25px;
            font-size: large;
            font-weight:bolder;
            align-items: center;
        }

        .test {
            display: flex;
            flex-direction: row;
            .author {
                color: white;
                margin-bottom: 0.5rem;
                flex-grow: 3;
            }

            .current-author {
                color: rgb(157, 224, 69);
                margin-bottom: 0.5rem;
                flex-grow: 3;
            }
        }
    }
}
