:root{
    --rotation: 0deg;
    --final-color: red;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
  }

.progress {
    position: relative;
    margin: 4px;
    text-align: center;
}

.overflow {
    width: 300px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.bar {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 20px solid #eee;
    border-bottom-color: $secondary-color;
    border-right-color: $secondary-color;
    animation: 1.5s ease-out .5s forwards rotation;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
        border-top-color: #eee;
        border-left-color: #eee;
    }
    50% {
        transform: rotate(min(var(--rotation), 180deg));
        border-top-color: #eee;
        border-left-color: #eee;
    }
    51% {
        border-top-color: var(--final-color);
        border-left-color: var(--final-color);
    }
    100% {
        transform: rotate(var(--rotation));
        border-top-color: var(--final-color);
        border-left-color: var(--final-color);
    }
}

.shift-caliber {
    height: 100%;
    width: 100%;
    transform-origin: bottom center;
    transform: rotate(45deg);
}

.current-garbage {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: white;
}

.max-garbage {
    position: absolute;
    right: 10%;
    bottom: 0;
    color: white;
    font-size: 1.5rem;
}

/* bin chart detail */

.chart {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    
    .part {
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            text-align: center;
            width: 100%;
        }
    }
}

.recycled {
    background-color: yellowgreen;
}

.nonRecycled {
    background-color: darkgreen;
}

.garbage {
    &-dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-total-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 2rem;
            color: white;
            margin: 1rem;
        }
    }

    &-detail-container {
        margin-top: 4rem;

        h2 {
        text-align: center;
        margin-bottom: 2rem;
        }

        input:checked+div{
            display: block;
        }
    }
}

/* dropdown details */

.non-recycled-container {
    display: none;
    background-color: darkgreen;
    width: 80vw;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}

.recycled-container {
    display: none;
    background-color: yellowgreen;
    max-width: 80vw;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}
