* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

.progress {
    position: relative;
    margin: 4px;
    text-align: center;
}

.overflow {
    width: 300px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.bar {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 20px solid #eee;
    border-bottom-color: $tertiary-color;
    border-right-color: $tertiary-color;
    animation: 1.5s ease-out 0.5s forwards rotation;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
        border-top-color: #eee;
        border-left-color: #eee;
    }

    50% {
        transform: rotate(min(var(--rotation, 0deg), 180deg));
        border-top-color: #eee;
        border-left-color: #eee;
    }

    51% {
        border-top-color: var(--final-color, $tertiary-color);
        border-left-color: var(--final-color, $tertiary-color);
    }

    100% {
        transform: rotate(var(--rotation, 0deg));
        border-top-color: var(--final-color, $tertiary-color);
        border-left-color: var(--final-color, $tertiary-color);
    }
}

.shift-caliber {
    height: 100%;
    width: 100%;
    transform-origin: bottom center;
    transform: rotate(45deg);
}

.current-garbage {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: white;
}

.max-garbage {
    position: absolute;
    right: 10%;
    bottom: 0;
    color: white;
    font-size: 1.5rem;
}

.warning-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30vh;

    .warning {
        aspect-ratio: 1 / 1;
        width: 2rem;
        background-color: $tertiary-color;
        border-radius: 50%;
    }
}


/* bin chart detail */

.chart {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 2rem;
    border-radius: 1rem;
    overflow: hidden;

    .part {
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            text-align: center;
            width: 100%;
        }
    }
}

.garbage {
    &-dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-total-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background: #1d8655;
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;

        h1 {
            font-size: 2rem;
            color: white;
            margin: 1rem;
        }

        .commentary {
            margin-top: 2rem;
            color: #eee;
            width: 70%;
            font-size: 1.5rem;
            text-align: center;
            padding-bottom: 2rem;
        }
    }

    &-detail-container {
        margin-top: 1.5rem;
        width: 80;

        h2 {
            text-align: center;
            margin-bottom: 2rem;
            font-size: 2rem;
            color: #eee;
        }
    }

    &-details>* {
        display: grid;
        grid-template-columns: 3fr 2fr 8fr;
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;

        p {
            background-color: $secondary-color;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            z-index: 1;
            margin-left: 1rem;
        }
    }
}

.line-progress {
    &-container {
        height: 1rem;
        background: #eee;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        left: -1rem;
        text-align: center;
    }

    &-bar {
        height: 90%;
        background: $secondary-color;
        border-radius: 0.45rem;
        margin-left: 0.1rem;
    }
}

.icon {
    font-size: 3rem;
    color: white;
}

.garbage-list {
    &-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        h2 {
            padding: 1rem;
        }
    }

    li {
        background: white;
        text-align: center;

        a {
            color: $quadrary-color;
            text-decoration: none;
            height: 1.8rem;
            font-size: 1.4rem;
        }
    }

    list-style: none;
    width: 80%;
    height: 75vh;
    overflow-y: scroll;
    border-radius: 1rem;
}

.profile-garbage {
    display: flex;
    flex-direction: column;

    .garbage-list {
        height: unset;
        border-radius: 1rem 1rem 0 0;
    }

    .see-more-garbage {
        background-color: white;
        width: 80%;
        height: 2rem;
        color: grey;
        text-align: center;
        font-size: 1.4rem;
        align-self: center;
        border-radius: 0 0 1rem 1rem;
        border-top: solid grey 0.2rem;

        a {
            text-decoration: none;
            color: grey;
        }
    }
}