* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(95, 197, 126);
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: white;
}

.nav a {
    background-color: #1d8655;
    height: 100%;
    padding: 3px;
}