{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <section class='post-wall-container'>
        <div class='post-wall-head' id="drop-down">
            <div class='post-create'>
                <h1>Edit Post</h1>
                {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}   


                {{ include('post/_delete_form.html.twig') }}

                <a href="{{ path('post_index') }}" class="link">back to list</a>

            </div>
        </div>
        

        
    </section>
{% endblock %}
