<section class="garbage-list-section">
    <h2>Historique des levées</h2>
    <ul class="garbage-list">
    {% for garbage in garbages|slice(0, limit) %}
        <li>
            <a href="{{ path("garbage_show", {id: garbage.id}) }}">
                <span>{{ garbage.createdAt|date("m/d/Y") }}</span>
                <span>{{ garbage.weight }} kg</span>
                {% if garbage.type == 'recycled' %}
                <i class="fas fa-recycle"></i>
                {% else %}
                <i class="fas fa-trash-alt"></i>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>
</section>