{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    <section class="garbage-dashboard garbage-total-container">
        <h1>Votre levée du {{ garbage.createdAt|date("m/d/Y") }}</h1>
        <div class="garbage-type-weight">
        {% if garbage.type == 'recycled' %}
            <p>Déchets recyclables</p>
            <i class="fas fa-recycle"></i>
        {% else %}
            <p>Déchets ménagers</p>
            <i class="fas fa-trash-alt"></i>
        {% endif %}
            <p class="garbage-weight">
                {{ garbage.weight }}kg
            </p>
        </div>
    </section>
    <section class="advice-container">
        <h1>Conseils</h1>
        {% if garbage.type == 'recycled' %}
            <p>Tous les emballages vides, en aluminium et acier, peuvent être recyclés; Ne doivent pas être jetés dans la même poubelle, les aérosols de type solvants ou insecticides, les « bombes » de peinture, ou encore les emballages acier très sales.</p>
        {% else %}
            <p>Installer un composteur dans son jardin ou son appartement, afin de réduire la quantité de déchets organiques présents dans la poubelle des ordures ménagères. Le compost est un très bon engrais naturel pour vos plantes et potagers !</p>
        {% endif %}
    </section>
{% endblock %}
